main{
  width: 100%;
}

.header-head{
  width: 100%;
  background: #d13126;
  display: flex;
  align-items: center;
}

.logo{
  text-align: center;
  flex-basis: 20%;
  margin-left: 2%;
  margin-top: 1%;
}

.nav-menu{
  display: flex;
  flex-basis: 65%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-element{
  text-align: center;
}

.a-menu{
  display: block;
  padding: 2px;
  color: white;
  text-shadow: 1px 1px 1px #454545;
}

.a-menu:hover{
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
  text-shadow: none;
}

.a-menu:hover .nav-img{
  transform: none;
  transition: transform .2s ease-out;
}

.a-menu:active, .a-menu:focus{
  border: dotted 4px rgba(0, 0, 0, .4);
  text-decoration: none;
  text-shadow: none;
  color: black;
  margin: -4px;
}

.nav-img{
  width: 32px;
  margin-bottom: 16px;
  transform: rotate(-11deg);
  transition: transform .2s ease-out;
  transform-origin: 0 100%;
}

.font-menu-title{
  font-family: 'Fredoka One', cursive;
  font-size: 2vw;
  font-weight: 100;
}

.font-menu-sub-title{
  font-family: 'Martel', serif;
  font-style: italic;
  font-size: 14px;
  margin-top: 14px;
  text-shadow: none;
}

.div-nav-btn{
  flex-basis: 17.5%;
  text-align: center;
}

.nav-button{
  background: none;
  color: white;
  font-family: 'Fredoka One', cursive;
  height: 50px;
  width: 130px;
  border: solid 3px white;
  border-radius: 7px;
  font-size: 20px;
}

.box{
  width: 50%;
  height: 600px;
  float: left;
  display: table;
}

.sub-box{
  display: table-cell;
  vertical-align: middle;
}
.my-a{
  width: 81%;
  text-align: left;
  color: white;
  font-weight: 400;
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
  text-shadow: 1px 1px 0 black;
}

.my-a:hover{
  text-decoration: none;
  color: white;
}

.box-a-middle{
  font-size: 50px;
  display: block;
}
.box-a-top{
  font-size: 20px;
  display: block;
}
.box-a-bottom{
  font-size: 20px;
  display: block;

}
.back1{
  background: #eb4034;
}

.back2{
  background: #ad3028;
}

.back3{
  background: #db3b30;
}

.back4{
  background: #bd332a;
}

@media (max-width: 800px){
  .box{
    width: 100%;
  }
  .box-a-middle{
    font-size: 30px;
  }
  .box-a-top{
    font-size: 15px;
  }
  .box-a-bottom{
    font-size: 15px;
  }
}
@media (min-width: 2000px){
  .box{
    width: 50%;
  }
}
@media (min-width: 2500px){
  .box{
    width: 25%;
  }
}
@media (min-width: 3380px){
  .box{
    width: 25%;
    height: 1200px;
  }
  .box-a-middle{
    font-size: 100px;
  }
  .box-a-top{
    font-size: 40px;
  }
  .box-a-bottom{
    font-size: 40px;
  }
}
