main{
  width: 100%;
}

li{
  font-size: 20px;
  color: white;
  list-style-type: square;
  margin-left: 5%;
  max-width: 30em;
  margin-bottom: 10px;
}
#button-blue-square{
  margin-top: 20px;
  max-width: 15em;
  padding: 20px;
  border-radius: 7px;
  background: linear-gradient(to bottom, #a3ff57 30%,#355917);
  border: none;
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  text-shadow: 1px 0 1px black;
}
#img-circle{
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

#circle-container{
  position: absolute;
  right: 220px;
  z-index: 1;
  background: white;
  padding: 8px;
  border-radius: 5px;
  transform: rotate(-15deg);
  transition-duration: 0.3s;
  transform-origin: left bottom;
}
#circle-container:hover{
  transform: rotate(0deg);
  transition-duration: 0.3s;
}
#button-red{
  position: absolute;
  right: 35px;
  top: 9px;
  z-index: 1;
  padding: 10px;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#container-title{
  width:365px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  top: 40px;
}
#articles-title{
  display: inline;
  line-height: 1.4em;
  background: white;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

.circle-square-container{
  position: absolute;
  width: 300px;
  top: 40px;
  margin: 0;
  padding: 0;
  height: 55px;
  right: 0;
  z-index: 6;
}
.circle-square-container:hover > #circle-container > #img-circle{
    transform: rotate(0deg);
    transition-duration: 0.3s;
}
.circle-square-container:hover > #button-red{
  background: white;
  color: #ad3028;
}

.trick{
  color: white;
  opacity: 0;
}
.header-head{
  width: 100%;
  background: #d13126;
  display: flex;
  align-items: center;
}

.logo{
  text-align: center;
  flex-basis: 16%;
  margin-left: 2%;
  margin-top: 1%;
}

.logo-small{
  display: none;
  width: 60px;
  margin-top: 4%;
}

.nav-menu{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 2%;
}

.header-element{
  text-align: center;
}

.a-menu{
  display: block;
  padding: 2px;
  color: white;
  text-shadow: 1px 1px 1px #454545;
}

.a-menu:hover{
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
  text-shadow: none;
}

.a-menu:hover .nav-img{
  transform: none;
  transition: transform .2s ease-out;
}

.a-menu:active, .a-menu:focus{
  border: dotted 4px rgba(0, 0, 0, .4);
  text-decoration: none;
  text-shadow: none;
  color: black;
  margin: -4px;
}

.nav-img{
  width: 32px;
  margin-bottom: 16px;
  transform: rotate(-11deg);
  transition: transform .2s ease-out;
  transform-origin: 0 100%;
  text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
}

.font-menu-title{
  font-family: 'Fredoka One', cursive;
  font-size: 2vw;
  font-weight: 100;
}

.font-menu-sub-title{
  font-family: 'Martel', serif;
  font-style: italic;
  font-size: 14px;
  margin-top: 14px;
  text-shadow: none;
}

.div-nav-btn{
  flex-basis: 15%;
  text-align: center;
  margin-left: auto;
  padding-right: 2%;
}

.nav-button{
  background: none;
  color: white;
  font-family: 'Fredoka One', cursive;
  height: 50px;
  width: 130px;
  border: solid 3px white;
  border-radius: 7px;
  font-size: 20px;
}

.nav-button span{
  text-shadow: 1px 1px 1px #454545;
}

.box{
  position: relative;
  cursor: pointer;
}
.sub-box{
  margin: 100px 0;
}
.my-a{
  width: 81%;
  display: table;
  color: white;
  font-weight: 400;
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
  text-shadow: 1px 1px 0 black;
  margin-bottom: 50px;

}

.my-a:hover{
  text-decoration: none;
  color: white;

}
.my-a-extra{
  color: white;
  position: relative;
}
.my-a-extra-margin{
  margin-left: 50px;
}
.my-a-extra:hover{
  text-decoration: none;
  color: white;
}

.box-a-middle{
  font-size: 50px;
  color: white;
  line-height: 1.3em;
}
.comment{
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
}
.box-a-middle:hover{
  color: white;
  text-decoration: none;
}
.box-a-top{
  font-size: 20px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  text-decoration: none;
  color: white;
}
.box-a-top:hover{
  color: white;
  text-decoration: none;
}
.box-a-bottom{
  font-size: 20px;
  display: block;

}
.back1{
  background: #eb4034;
}

.back2{
  background: #ad3028;
}

.back3{
  background: #db3b30;
}

.back4{
  background: #bd332a;
}
.img-user{
  border: 5px solid white;
  border-radius: 5px;
  width: 80px;
  transform: rotate(-15deg);
  transition-duration: 0.5s;
  transform-origin: bottom left;
  box-shadow: 0px 15px 25px black;
  object-fit: cover;
}
.img-user:hover{
  transform: rotate(0);
  transition-duration: 0.4s;
}
.wrote{
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}
.numeral{
  color: black;
    font-family: 'Lato', sans-serif;
}
.exponencial{
  position: absolute;
  font-size: 13px;
  top: 0;
  right: -22px;
}
.articles{
  display: grid;
  grid-template-columns: [col] 50% [col] 50%;
  padding: 0;
  position: relative;
  background: black;
}
.article-padding-top{
  padding-top: 150px;
}
.my-row{
  font-size: 60px;
  color: white;
  position: absolute;
  left: 10%;
  top: 90%;
  text-decoration: none;
}
.blue-square{
  background: linear-gradient(to bottom, #071d40 10%, #012f78);
  display: flex;
  flex-direction: row;
  line-height: 2em;
}
.blue-p{
  color: white;
  font-size: 20px;
  max-width: 35em;
  margin-bottom: 20px;
}
.blue-square-img{
  transform-origin: bottom left;
  transform: rotate(-15deg);
  transition-duration: 0.5s;
  margin-top: -40px;
}
.blue-square-img:hover{
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
.flex1{
  flex: 1 1 auto;
  padding:60px;
  text-align: right;
}
.flex2{
  flex: 1 1 auto;
}
@media (min-width: 3380px){
  .articles{
    grid-template-columns: 25% 25% 25% 25%;
  }
  .box-a-middle{
    font-size: 100px;
  }
  .comment{
    font-size: 40px;
  }
  .box-a-top{
    font-size: 40px;
  }
  .box-a-bottom{
    font-size: 40px;
  }
  .my-row{
    top:95%;
  }
}
@media (min-width: 3300px){
  .articles{
    grid-template-columns: 25% 25% 25% 25%;
  }
  .articles-padding-others{
    padding-top:150px;
  }
}
@media(max-width: 1340px){
  .logo{
    flex-basis: 8%;
  }
  .logo-full{
    display: none;
  }
  .logo-small{
    display: inline;
  }
}

@media(max-width: 1100px){
  .font-menu-sub-title{
    display: none;
  }
  .logo-small{
    margin-top: 20%;
  }
}
@media (max-width: 1000px){

  #circle-container{
    display: none;
  }
  .articles{
    grid-template-columns: [col] 100%;
  }
  .article-padding-top{
    padding-top: 100px;
  }
  .second-article-padding-top{
    padding-top: 0;
  }
  .box-a-middle{
    font-size: 30px;
  }
  .box-a-top{
    font-size: 15px;
  }
  .box-a-bottom{
    font-size: 15px;
  }
  .comment{
    font-size: 15px;
  }
  .my-row{
    top:85%;
  }
}
@media(max-width: 917px){
  .nav-menu{
    display: none;
  }
}
@media (max-width: 800px){
  .blue-square{
    flex-direction: column-reverse;
    align-items: center;
  }
  .blue-square-img{
    margin-top: 50px;
    width: 140px;
  }
  #button-red{
    display: none;
  }
}
